{{- $title    := .Title }}
{{- $subtitle := .Params.sub_header }}
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        {{ $versionImg := (resources.Get "images/module-version.png").Resize "50x" }}
        <h1 class="title section-title">{{ $title }}<img src="{{ $versionImg.Permalink }}" style="margin-left:10px" /></h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
      </div>
      <div class="column is-7 mt-60">
        {{- range .Site.RegularPages }}
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="{{ printf "/images/illustrations/icons/%s.svg" ( .Param "icon") | relURL }}">
            </p>
          </figure>
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .Title }}</span>

                <span class="icon-box-text">{{ .Content }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div>
  </div>
</section>